### Python ###
__pycache__/
.pytest_cache

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Python Patch ###
.venv/

### IDE ###
.idea/

### Configuration files ###
config/config.yaml

### Models output ###
out
